DEBUG=False
PROJECT_NAME=movies

POSTGRES_HOST=172.18.0.4
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=movies_database

REDIS_PORT=6379

#Cache
FILM_CACHE_EXPIRE_IN_SECONDS=300
PERSON_CACHE_EXPIRE_IN_SECONDS=300
GENRE_CACHE_EXPIRE_IN_SECONDS=300

SQL_ENGINE=django.db.backends.postgresql_psycopg2

LOG_LEVEL=DEBUG

# tests
ELASTICSEARCH_HOST=172.19.0.4
ELASTICSEARCH_PORT=9200
ELASTIC_SCHEMA=http://
ELASTICSEARCH_URL=${ELASTIC_SCHEMA}${ELASTICSEARCH_HOST}:${ELASTICSEARCH_PORT}

ES_FILM_INDEX=movies
ES_GENRE_INDEX=genres
ES_PERSON_INDEX=persons

# IDE with test containers
SERVICE_URL=http://172.19.0.2:8080
REDIS_HOST=172.19.0.5

# ide with prod containers
# SERVICE_URL=http://127.0.0.1:8000
# REDIS_HOST=172.18.0.6
# ELASTICSEARCH_HOST=1172.18.0.5